
html{
     font-family: Arial,sans-serif;    
}

body{
    font-family: Arial,sans-serif;     
}

*{
     font-family: Arial,sans-serif;   
     font-size: 6px;
}

table {
      font-family: Arial,sans-serif;  
      font-size: 7px;
}

table.addTable{
    vertical-align: bottom; 
    font-family: Arial,Helvetica,Garuda,sans-serif;   
    font-size: 6px;
    color: #000000;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.innerAdTable{
    vertical-align: bottom; 
    font-family: Arial,Helvetica,Garuda,sans-serif;   
    font-size: 6px;
    color: #000000;
    border-spacing: 0px;
    border-collapse: collapse;    
}

table.innerAdTable td{
    padding-left: 6px;
    padding-right: 20px;
    border-left: 1px solid #7BC144;
    border-spacing: 0px;
    border-collapse: collapse;
    padding-top: 5px;
}

table.innerAdTable tr{
    border-left: 1px solid #7BC144;
    border-spacing: 0px;
    border-collapse: collapse;
}


table.topinfo{
    margin-top: 25px; 
    margin-left: 5px;  
    
}

table.topinfo td{
    padding-top: 3px;
    padding-bottom: 3px;
    
}

table.monsterSummaryTable{
    margin-top: 25px;
    margin-left: 5px;  
    border-spacing: 0px;
    border-collapse: collapse;     
}

table.monsterSummaryTable th{
    font-weight: bold;
    border-top: 1px solid #7BC144;
    border-bottom: 1px solid #7BC144;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.resultTable {
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
        margin-top: 25px;
        margin-left: 5px; 
}

table.resultTable th{
    font-weight: bold;
    border-top: 1px solid #7BC144;
    border-bottom: 1px solid #7BC144;
    padding-top: 7px;
    padding-bottom: 7px;   
}

table.resultTable td.sampling{
    border-bottom: 1px solid #7BC144;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}

table.resultTable td.samplingNoBorder{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}

table.resultTable td.sampleTakeBorder{
    border-bottom: 1px solid #7BC144;
    padding-top: 5px;
    padding-bottom: 2px;
    vertical-align: top;
}

table.resultTable td.sampleTakeNoBorder{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 2px;
    vertical-align: top;
}


table.resultTable td.resultBorderBottom{
    border-bottom: 1px solid #BFBFBF;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top; 
}


table.resultTable td.resultNoBorderBottom{
    border-bottom: none;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top; 
}

p.legend{
    margin-left: 5px;
    font-family: Arial,Helvetica,Garuda,sans-serif;   
    font-size: 6px;
    color: #000000;
}

table.methodTable{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px; 
    margin-top: 50px;
    margin-left: 5px;
    font-family: Arial,sans-serif;   
    font-size: 8px;
    color: #000000;  
}

table.methodTable th{
    border-top: 1px solid #7BC144;
    border-bottom: 1px solid #7BC144;
    padding-top: 7px;
    padding-bottom: 7px;    
}


table.methodTable td.border{    
    border-bottom: 1px solid #7BC144;
    padding-top: 5px;    
    padding-bottom: 2px;
}

table.methodTable td.noborder{
    border-top: none;
    border-bottom:  none;
    padding-top: 5px;
    padding-bottom: 2px;
}